.node
    position: absolute
    border-radius: 5px
    background: white

    &__tools
        position: absolute
        top: -20px
        font-weight: 400


    &__text
        display: inline-block
        padding: 10px